
.ta {
    width: 100%;
    border-collapse: collapse;
}



/* provide some minimal visual accomodation for IE8 and below */
/*  Define the background color for all the ODD background rows  */
.ta tr:nth-child(odd) {
    background: #f3f3f3;
}

/*  Define the background color for all the EVEN background rows  */
.ta tr:nth-child(even) {
    background: white;
}
th, td {
    padding:5px

}
 .low {
     background-color: green;
     color: white;
 }

.med {
    background-color: #ffc500;
    color: white;
}

.high {
    background-color: red;
    color: white;
}




style >
